<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meastro</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
  <%- include('partials/header') %>
  <section class="bg-green-50 text-center py-8">
    <h1 class="text-4xl font-bold text-green-900">Explore</h1>
    <p class="mt-4 text-lg text-gray-700">All your food needs right here.</p>
  </section>

  <div class="w-full py-12">
    <div class="w-full h-96 overflow-hidden">
      <img src="images/AdobeStock_366186088.jpeg" alt="Wide Banner" class="w-full h-full object-cover" />
    </div>
  </div>

  <section class="container mx-auto py-12 px-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="bg-white rounded-lg shadow-lg p-4 text-center">
        <h3 class="text-xl font-semibold mb-4">Find a recipe with any ingredients</h3>
        <div class="w-full aspect-square overflow-hidden">
          <img src="/images/dennis-klein-IY-zGz64JxQ-unsplash.jpg" alt="no image" class="w-full h-full object-cover" />
        </div>
      </div>

      <div class="bg-white rounded-lg shadow-lg p-4 text-center">
        <h3 class="text-xl font-semibold mb-4">Explore your local restaurants</h3>
        <div class="w-full aspect-square overflow-hidden">
          <img src="images/carlos-aranda-IYMceGutrbQ-unsplash.jpg" alt="no image" class="w-full h-full object-cover" />
        </div>
      </div>

      <div class="bg-white rounded-lg shadow-lg p-4 text-center">
        <h3 class="text-xl font-semibold mb-4">Look through our large list of recipes</h3>
        <div class="w-full aspect-square overflow-hidden">
          <img src="images/rai-vidanes-tVy3x2Vu_z4-unsplash.jpg" alt="no image" class="w-full h-full object-cover" />
        </div>
      </div>
    </div>
  </section>

  <footer class="bg-green-600 text-white py-6">
    <div class="container mx-auto text-center">
    </div>
  </footer>
</body>
</html>
