<?php 
session_start();
include("connection.php");
include("functions.php");

$user_data = isset($_SESSION['user_data']) ? $_SESSION['user_data'] : null;
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes4U</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Recipes4U</h1>
</header>
<main>
    <div id="searchBar">
        <b>What would you like to cook today?</b>
        <p>Anything you would like to cook, you can input here.</p>
        <div class="search-bar">
            <input type="text" placeholder="Search recipes..." id="search-input">
            <button type="submit" id="search-button">Search</button>
        </div>
    </div>

    <div id="ingredientOwn">
        <b>Fill in the box below with ingredients that you own!</b>
        <p>We can find you available recipes based on your input.</p>
        <div id="ingredientInputWrapper">
            <textarea id="ingredients-input" name="enter your ingredients here..." cols="50" rows="10"></textarea>
            <button id="enter-button">Enter</button>
        </div>
    </div>

    <div id="ingredientList">
        <b>You can also press and hold on any of the common ingredients from below.</b>
    </div>
    <!-- temporary output, kinda ugly so we gott spruce it up -->
    <div id="recipeOutput">
        <h2>Generated Recipe:</h2>
        <div id="recipe-text"></div>
    </div>

    <div id="authLinks">
        <a href="login">Login</a> |
        <a href="register">Register</a> |
        <a href="savedRecipes">savedRecipes</a>
    </div>
</main>
<script src="../gpt_handler.js"></script>
</body>
</html>
