
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>RestaurantAdviser</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>Restaurant RestaurantAdviser</header>
        <div>
            <% if (recipes.length > 0) { %>
                <ul>
                    <% recipes.forEach(recipe => { %>
                        <li>
                            <h2><%= recommendationsquery.name %></h2>
                            <p><%= recommendationsquery.cuisine %></p>
                            <p><%= recommendationsquery.address %></p>
                            <p><%= recommendationsquery.rating%></p>     
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>No saved recipes found.</p>
            <% } %>   
        </div> 
    </body>
</html>



