<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/userProfile.css">
</head>
<body>
	<header>
		<h1>User Profile</h1>
		<button id="headerBtn" onclick="window.location.href='/'">Home</button>
		<button id="logoutBtn" onclick="window.location.href='/logout'">Log Out</button>
	</header>
	<main class="userProfile">
		<div class="userProfileDiv">
			<h2>Basic info</h2>
			<div>
				<p>Username:</p><p><%= username %></p>
			</div>
			<div>
				<p>Password:</p><p>********</p>
			</div>
			<div>
				<p>Profile picture:</p>
				<img src="images/user.png">
			</div>
			<div>
				<p>Birthday:</p><p>January 1st, 1970</p>
			</div>
			<div>
				<p>Gender:</p><p>Male</p>
			</div>
		</div>
		<div class="userProfileDiv">
			<h2>Contact info</h2>
			<div>
				<p>Email:</p><p>user@example.com</p>
			</div>
			<div>
				<p>Phone:</p><p>01234 111222</p>
			</div>
		</div>
		<div class="userProfileDiv">
			<h2>Preferences</h2>
			<div>
				<p>Language:</p><p>English</p>
			</div>
			<div>
				<p>Dark mode:</p><p>OFF</p>
			</div>
		</div>
	</main>
</body>
</html>