/* User Profile Page styles */

/* These buttons are temporary */

.userProfile {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}

.userProfileDiv {
    display: flex;
    width: 45%;
    flex-direction: column;
    border: 2px solid azure;
    border-radius: 8px;
    background-color: azure;
    padding: 16px;
}

.userProfileDiv h2 {
    text-decoration: underline;
}

.userProfileDiv img {
    max-width: 64px;
    max-height: 64px;
    cursor: pointer;
}

.userProfileDiv div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
}
